*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'arial';

}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: bisque;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #956830;
    z-index: 99;

}
.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: rgb(176, 132, 50);
}
.logo span{
    color: #fff
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;

}
.nav-icon-container{
    display: flex;
    align-items:center;
}
.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}